<template name="profile">
    <div style='position:absolute; top:0; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: hidden'>
    <div class="bar bar-header bar-balanced">

        <a href="/" class="button icon-left ion-chevron-left button-clear button-light">Back</a>

        <h1 class="title">PetPal</h1>
    </div>


	<div class="list card userBox text-center">
        <i class="icon ion-android-person"></i>
		   <h3> Username: {{username}}</h3><br>
			{{! with acts as an if : the following part won't be displayed
				if the user document has no profile property}}

        <div class="item">
            <img src="https://placehold.it/200x200" alt="">
        </div>

    {{#with profile}}
        <h4>
        <div class="item">
        Owner name : {{fullname}}
        </div>
        <div class="item">
            Pet Name: {{petname}}
        </div>
        <div class="item">
            Pet Age: {{petage}}
        </div>
        </h4>
    {{/with}}

    </div>
    </div>

</template>

