<template name="profile">
    <div class="back" style='background-color: #9FF7BB;'>
        <div class="profile" style='position:absolute; top:0; right:0; bottom:0; left:0; padding-bottom:50px; overflow-y:scroll; overflow-x: hidden'>
            <div class="bar bar-header bar-light">
                {{# if currentUser}}
                <a href="/" class="button icon-left ion-chevron-left button-clear button-balanced">My Account</a> {{else}}
                <h1>PetPal</h1> {{/if}}
            </div>
            <div class="container userBox1 text-center">
                <div class="pro-bg">
                    <div class="col-sm-12 center-block">
                        <h2 class="text-center bounceOutDown petinfo">Username: {{username}}</h2>
                        <div class="list bounceIn">
                            <img src="/elmo.jpg" alt="" width="150" height="150">
                        </div>
                        {{! with acts as an if : the following part won't be displayed if the user document has no profile property}} {{#with profile}}
                        <div class="list animated bounceInLeft petinfo ">
                            <h3 class="ion-ios-person-outline">&nbsp;&nbsp;Owner name : {{fullname}}</h3>
                        </div>
                        <div class="list animated bounceInRight petinfo ">
                            <h3 class="ion-ios-paw-outline">&nbsp;&nbsp;Pet Name: {{petname}}</h3>
                        </div>
                        <div class="list animated bounceInUp petinfo">
                            <h3 class="ion-calculator">&nbsp;&nbsp;Pet Age: {{petage}}</h3>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            <hr/>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="list list-inset">
                    {{> location}}
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="list list-inset color">
                    {{> input }} {{> messages }}
                </div>
            </div>
        </div>
    </div>
</template>
