<template name="userManagement">
    <div style='position:absolute; top:0; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: hidden'>
        <div class="bar bar-header bar-balanced">
            <h1 class="title">PetPal</h1>
        </div>
        <div class="container userBox">

            {{# if currentUser}}
                <!-- Message for logged in user -->
                <p>Hello <strong>{{currentUser.username}}</strong>, You are logged into PetPal</p>
                <button type="button" class="button button-block button-assertive" id="logout">Log out</button>

                <a href="{{pathFor 'profile'  username=currentUser.username}}" class="button button-block button-positive">
                    My Profile
                </a>

                <div class="tabs-striped tabs-color-balanced tabs-background-dark">
                    <div class="tabs">
                        <a class="tab-item active" href="#">
                            <i class="icon ion-android-person"></i>
                            Home
                        </a>
                        <a class="tab-item .pin" href="{{pathFor 'profile'  username=currentUser.username}}/location">
                            <i class="icon ion-location"></i>
                            Location Found
                        </a>
                        <a class="tab-item" href="{{pathFor 'profile {{this.username}}'}}/contact">
                            <i class="icon ion-android-chat"></i>
                            Contact
                        </a>
                    </div>
                </div>

            {{else}}

                <!-- Log in module -->
                <h4 class="text-center">Login with an existing account.</h4>
                <div class="list list-inset login">
                    <label class="item item-input">
                        <input type="text" placeholder="Username" id="login-username">
                    </label>

                    <label class="item item-input">
                        <input type="password" placeholder="Password" id="login-password">
                    </label>

                    <button type="button" class="button button-block button-positive login submit" id="login">Log in</button>
                </div>

                <hr/>

                <!-- Sign up module -->

                <div class="list list-inset register">
                    <h4 class="text-center">Register a new user.</h4>
                    <label class="item item-input">
                        <input type="text" placeholder="Email Address" id="signup-email">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Username" id="signup-username">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input type="text" placeholder="Full Name" id="signup-fullname">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input type="text" placeholder="Pet Name" id="signup-petname">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input type="text" placeholder="Pet Age" id="signup-petage">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input type="password" placeholder="Password" id="signup-password">
                    </label>

                    <button type="button" class="button button-block button-positive" id="signup">Sign up</button>
                </div>

            {{/if}}

            <!--<h3 class="text-center">What is PetPal?</h3>
            <h4 class="text-justify">PetPal is an application built purposely for pet owners. <br/><br/>The goal of this application
                is to give a pet owner every possible chance of their pet returning safely if the situation arose
                whereby your your pet went missing.</h4><br/><br/>
            -->
        </div>
    </div>


</template>